<div class="page-header header-filter" style="background-image: url('<%= asset_url('order-main.jpg') %>'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-signup">
          <h2 class="card-title text-center">Order</h2>
          <div class="card-body">
            <br>
            <%= render 'form' %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("body").addClass( "signup-page" );
</script>
