.logo-small {
    width: 100px!important;
    height: auto!important;
}
.footer-logo-small {
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-top: -6px;
    display: block;
}
.copyright {
  font-size: 12px!important;
}
